    <nav class="navbar">
        <div class="nav-group nav-group-top">
            <a class="nav-link" href=".\index.html" aria-label="Home">
                <img class="nav-icon nav-icon-home" src=".\img\jb_logo.png" alt="jb_logo">
            </a>
            <a class="nav-link" href=".\search.html" aria-label="Search">
                <img class="nav-icon" src=".\img\jb_search.png" alt="jb_search">
            </a>
            <a class="nav-link" href=".\add.html" aria-label="Add">
                <img class="nav-icon" src=".\img\jb_add.png" alt="jb_add">
            </a>
            <!-- <a class="nav-link" href=".\stats.html" aria-label="Messages"><img class="nav-icon" src=".\img\jb_chat.png" alt="jb_stats"></a> -->
        </div>
        <div class="nav-group nav-group-bottom">
            <a class="nav-link" href=".\profile.html" aria-label="Profile">
                <img class="nav-icon" src=".\img\jb_profile.png" alt="jb_profile">
            </a>
        </div>
    </nav>
