<script>
window.JUKEBOXD_CONFIG = Object.freeze({{ client_config | tojson }});
</script>
<script src="{{ url_for('static', filename='js/app/core.js') }}"></script>
<script src="{{ url_for('static', filename='js/app/api.js') }}"></script>
<script src="{{ url_for('static', filename='js/app/reviews.js') }}"></script>
<script src="{{ url_for('static', filename='js/app/pages/search.js') }}"></script>
<script src="{{ url_for('static', filename='js/app/pages/feed.js') }}"></script>
<script src="{{ url_for('static', filename='js/app/pages/profile_friendships.js') }}"></script>
<script src="{{ url_for('static', filename='js/app/pages/profile.js') }}"></script>
<script src="{{ url_for('static', filename='js/app/pages/add.js') }}"></script>
<script src="{{ url_for('static', filename='js/app/pages/auth.js') }}"></script>
<script src="{{ url_for('static', filename='js/app/navbar.js') }}"></script>
<script src="{{ url_for('static', filename='js/app/boot.js') }}"></script>
