<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href=".\css\base.css">
</head>
<body>
    <!--Load the Navbar-->
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <div id="nav-placeholder">
    </div>

    <script>
    $(function(){
        $("#nav-placeholder").load("./components/navbar.html");
    });
    </script>

    <h1>add</h1>
</body>
</html>