<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>jukeboxd</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">

</head>
<body>
    {% include "components/navbar.html" %}

    <main class="feed_page">
        <section id="feed-list" class="feed_list" aria-live="polite"></section>
    </main>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>
