CLIENT_ID = Replace this with your Spotify App's Client ID
CLIENT_SECRET = Replace this with your Spotify App's Client Secret
CALLBACK_URI = Replace this with your Spotify App's Callback URI (if your are using localhost this is http://127.0.0.1:8888/callback)