    <nav class="navbar">
        <a href=".\index.html"><img src=".\img\jb_logo.png" alt="jb_logo" style="width:64px;height:64px;"></a>
        <a href=".\search.html"><img src=".\img\jb_search.png" alt="jb_search" style="width:64px;height:64px;"></a>
        <a href=".\add.html"><img src=".\img\jb_add.png" alt="jb_add" style="width:64px;height:64px;"></a>
        <!-- <a href=".\stats.html"><img src=".\img\jb_chat.png" alt="jb_stats" style="width:64px;height:64px;"></a> -->
        <a href=".\profile.html"><img src=".\img\jb_profile.png" alt="jb_profile" style="width:64px;height:64px;"></a>
    </nav>
